<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="widthgt=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../header/style.css" />
  </head>
  <body>
    <header class="tmdb-custom-navbar">
      <div class="tmdb-custom-navbar__container">
        <div class="tmdb-custom-navbar__left-section">
          <a href="#" class="tmdb-custom-navbar__logo-link">
            <img
              src="../header/img/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
              alt="TMDB"
              class="tmdb-custom-navbar__logo-img"
            />
          </a>

          <nav class="tmdb-custom-navbar__main-menu">
            <a href="#" class="tmdb-custom-navbar__menu-link">Filmlar</a>
            <a href="#" class="tmdb-custom-navbar__menu-link">Serialar</a>
            <a href="#" class="tmdb-custom-navbar__menu-link">Odamlar</a>
            <a href="#" class="tmdb-custom-navbar__menu-link">Mukofotlar</a>
            <a href="#" class="tmdb-custom-navbar__menu-link">Ko'proq</a>
          </nav>
        </div>

        <div class="tmdb-custom-navbar__right-section">
          <button
            class="tmdb-custom-navbaraction-btn tmdb-custom-navbaraction-btn--add"
            aria-label="Qo'shish"
          >
            <span class="tmdb-custom-navbar__plus-icon">+</span>
          </button>

          <div class="tmdb-custom-navbar__lang-badge">RU</div>

          <a href="#" class="tmdb-custom-navbar__user-link">Tizimga kirish</a>
          <a
            href="#"
            class="tmdb-custom-navbaruser-link tmdb-custom-navbaruser-link--join"
            >TMDBga qo'shiling</a
          >
        </div>
      </div>
    </header>
  </body>
</html>
